# Logs
node_modules
dist
dist-ssr
_tmp
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Large Assets (Source)
public/portfolio/video/*.mp4
!public/portfolio/video/*_min.mp4
public/portfolio/design/*.png
!public/portfolio/design/*_min.*
public/portfolio/festival-posters/New Posters/*.png
!public/portfolio/festival-posters/New Posters/*_min.*
public/portfolio/misc-design/*.png
!public/portfolio/misc-design/*_min.*
